<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a Class</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/materialize.min.css') }}"
        media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">ImHere</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <a class="btn waves-effect waves-light left" href="/teacher/">Home</a>
        </ul>
      </div>
    </nav>
    <center>

    <h4>Create a Class</h4>
    <form method="POST" action="/teacher/add_class">
        Name: <input style="width:400px" type="text" name="classname" required><br><br>

        <h4>Student Unis</h4>
        <textarea style="width:400px" rows="20" cols="50" placeholder="Please enter one uni per line" name="unis"></textarea><br>
        <button>Create Class</button>
    </form><br>

    {% if invalid_uni %}
    <font color="red">Invalid UNI's entered, please recreate the class</font> 
    {% endif %}

    </center>
</body>
</html>
