    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add a Class</title>
    </head>
    <body>
    <center>
        <h2>IMHERE</h2>
        <br>
        <p>Create a Class</p>
        <form method="POST" action="/teach-home">
            Name:<input type="text" name="classname" required>
            <br>
            <br>
            Start Time: <input type="text" name="start time" required>
            End Time: <input type="text" name="end time" required>
            <p>Student Emails</p>
            <textarea name="emails" required>Please enter one email per line</textarea>
            <br>
            <input type="submit" name="Create">

        </form>
    </center>


    </body>
    </html>