<html>

<body>

    <center>

    <h2>ImHere</h2><br>

    <!-- first show classes that have an available session -->
    {% for n in data %}
        {% if n[7] == 1 %}

            <p>
            <h4>{{n[1]}}</h4>

            {% if correct %}

            Successful sign-in!

            {% else %}

            <form action="/protected/main_student" method="post">
                Sign in now!
                <input type="text" name="secret_code" value="Secret Code">
                <input type="submit" value="Submit">
            </form>
            </p><br>

                {% if incorrect %}
                Incorrect secret code!!!
                {% endif %}

            {% endif %}

        {% endif %}
    {% endfor %}

    <!-- then show classes that are not ongoing at this time/date -->
    {% for n in data %}
        {% if n[7] == 0 %}

            <p>
            <h4>{{n[1]}}</h4>

            No sign-in window available!
            </p><br>

        {% endif %}
    {% endfor %}

    </center>


</body>

</html>
