<html>

<body>

    <center>

    <h2>ImHere</h2>

    <br><br><br>

    <!-- FOR EACH CLASS -->
        <!-- FOR EACH CLASS WITH A SIGN IN WINDOW -->
        <!-- FOR EACH CLASS WITHOUT A SIGN IN WINDOW -->

    <table>

    <thead>
        <tr>
            <th>CLASS NAME</th>
        </tr>
    </thead>
    <tbody>
        <!-- FOR EACH CLASS -->
        <tr>
            <td>Sign in now!</td>
            <td>Secret code</td>
            <td>I'm Here!</td>
        </tr>
    </tbody>

    </table>

    </center>

</body>

</html>
