<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<center>
    <h2>ImHere</h2>
    {% for n in data %}
        {% if n[7] == 1 %}

            <h4>{{n[1]}}</h4>
            <form method="POST" action="/main_teacher">
            <input type="submit" name="Close attendance window" value="{{n[1]}}">
            <br>
                Add a student: <input type="text" name="adname"><input type="submit" name="add" value="{{n[1]}}">
                Remove a student: <input type="text" name="rmname"><input type="submit" name="remove" value="{{n[1]}}">

            </form>
            Enrolled:
            <br>
            {% for name in n[9] %}
                {{name}}
                <br>
            {% endfor %}
        {% endif %}
    {% endfor %}


    {% for n in data %}
        {% if n[7] == 0 %}
        {% for n in data %}
            <h4>n[1]</h4>
            <form method="POST" action="/main_teacher">
            <input type="submit" name="Open Attendance Window" value="{{n[1]}}">
                <br>
                Add a student: <input type="text" name="sname"><input type="submit" name="add" value="{{n[1]}}">
                Remove a student: <input type="text" name="rsname"><input type="submit" name="remove" value="{{n[1]}}">
            </form>
         Enrolled:
            <br>
            {% for name in n[9] %}
                {{name}}
                <br>
            {% endfor %}
        {% endif %}
    {% endfor %}


</center>

</body>
</html>