<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{course_name}}</title>
</head>
<body>
<center>
    <h2>ImHere</h2><br>

    <h3>{{course_name}}</h3>

    {% if secret %}
        <form method="POST" action="/protected/view_class">
        <button name="close" value="{{cid}}">Close Attendance Window
        </button>
        </form>

        Secret Code:<br>
        {{secret}}<br>

    {% else %}
        <form method="POST" action="/protected/view_class">
        <button name="open" value="{{cid}}">Open Attendance Window
        </button>
        </form><br>

    {% endif %}

    <table cellspacing="35">
    <thead>
    <tr>

    <th>
    Add Student to Class:<br>
    <form method="POST" action="/protected/view_class">
        <input type="text" required name="add_student" placeholder="uni">
        <br>
        <button name="cid" value={{cid}}>add</button>
    </form>
    </th>

    {% if not empty_class %}
    <th>
    Del Student from Class:<br>
    <form method="POST" action="/protected/view_class">
        <input type="text" required name="remove_student" placeholder="uni">
        <br>
        <button name="cid" value={{cid}}>remove</button>
    </form>
    </th>
    {% endif %}

    </tr>
    </thead>
    </table>

    {% if invalid %}
        <font color="red">'{{uni}}' is an invalid uni</font>
    {% elif already_enrolled %}
        <font color="red">'{{uni}}' is already in the class</font>
    {% endif %}

    <br><br><br>

    {% if data %}
    <table cellspacing="5">
    <thead>
        <tr><th>Name</th><th>E-Mail</th></tr>
    </thead>
    {% for n in data %}
    <tr>
        <td>{{n[0]}} {{n[1]}}</td>
        <td>| {{n[2]}}</td>
    </tr>
    {% endfor %}
    </table><br><br>
    {% endif %}



    <a href="/protected/main_teacher">Home</a>
</center>

</body>
</html>
