<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{cname}}</title>
</head>
<body>
<center>
    <h2>ImHere</h2><br>

    <h3>{{cname}}</h3>

    <table cellspacing="35">
    <thead>
    <tr>

    <th>
    Add Student to Class:<br>
    <form method="POST" action="/protected/view_class">
        <input type="text" required name="add_student" placeholder="uni">
        <br>
        <button name="cid" value={{cid}}>add</button>
    </form>
    </th>

    {% if not empty_class %}
    <th>
    Del Student from Class:<br>
    <form method="POST" action="/protected/view_class">
        <input type="text" required name="remove_student" placeholder="uni">
        <br>
        <button name="cid" value={{cid}}>remove</button>
    </form>
    </th>
    {% endif %}

    </tr>
    </thead>
    </table><br>

    {% if data %}
    <table cellspacing="5">
    <thead>
        <tr><th>Name</th><th>E-Mail</th></tr>
    </thead>
    {% for n in data %}
    <tr>
        <td>{{n[0]}} {{n[1]}}</td>
        <td>| {{n[2]}}</td>
    </tr>
    {% endfor %}
    </table><br><br>
    {% endif %}



    <a href="/protected/main_teacher">Home</a>
</center>

</body>
</html>
